<div class="employee-container">
  <form [formGroup]="form" (ngSubmit)="saveEmployee()" class="employee-form">
    <mat-form-field >
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error *ngIf="form.get('firstName')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error *ngIf="form.get('lastName')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" required>
      <mat-error *ngIf="form.get('position')?.hasError('required')">Required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEditing ? 'Update' : 'Add' }}
    </button>
    <button mat-button color="warn" type="button" *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
  </form>

  <mat-form-field class="filter-field" >
    <mat-label>Filter employees</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()">
  </mat-form-field>

  <table mat-table [dataSource]="filteredEmployees" class="mat-elevation-z2">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First</th>
      <td mat-cell *matCellDef="let emp">{{ emp.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last</th>
      <td mat-cell *matCellDef="let emp">{{ emp.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let emp">{{ emp.position }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let emp">
        <button mat-icon-button color="primary" (click)="editEmployee(emp)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(emp.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
